.jumbotron{
    position: relative;
    border-radius: 2rem;
    margin-top: 50px;
    margin-bottom: 1rem;
    max-width: 960px;
    margin: 1rem auto;
    padding: 20px !important;
    background-color: rgb(36, 15, 3);
}
.container{
    max-width: 960px;
}
/* background-color: rgba(18, 5, 94, 0.9); */
    /* opacity: .9; */
.name{
    color: tan;
    font-style: italic;

}
.mb-3, .my-3 {
    margin-bottom: 3rem !important;
}

    .bg-success, .name{
        background-color: rgb(36, 15, 3) !important;
        border-radius: .5rem;
    }
/* @media (min-width: 992px) { */
    body{ 
        background-image: url(https://tse4.mm.bing.net/th?id=OIP.o0_G4YyXCkdm7rT771zmWAHaE1&pid=15.1&P=0&w=243&h=159);
        height: 100%; 
    
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
/* } */
p{
    text-align: center;
    color: tan;
    font-style: italic;
    font-size: large;
}

.footer--center{
    text-align: center;
    margin: auto;
    color:  rgb(36, 15, 3);
    border-radius: 20px;
    
}

/* .container---footer{
    opacity: .7;
} */

.center ul li{
    text-align: right;
    margin: auto;
}

.pButton:hover { 
    background-color:  tan;
    color: rgb(36, 15, 3);
}

.Portfol {
    color: tan;
    font-style: italic;
    text-align: center;
}

.slideOutAbout.active{
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: auto;
    left: 100%;
    width: 100%;
    background-color: white;
    transition: left 0.5s ease-in;
}
.slideinAbout.active{
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: auto;
    left: 100%;
    width: 100%;
    background-color: white;
    transition: left 0.5s ease-in;
}
.slideinAbout{
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: auto;
    left: 100%;
    width: 100%;
    background-color: white;
    transition: left 0.5s ease-in;
}
/* 300 */
.slideinAbout.active {
    left: 0%;
    width: 100%;
    margin: auto;
    transition: left 1.0s ease-in;
}
/* end of 300 */
@media (min-width: 960px) {
.slideinAbout.active {
    left: 15%;
    margin: auto;
    transition: left 1.0s ease-in;
}
}
/* end of 960 */


@media (max-width: 400px){ 
.socialButton{
    max-width: 32px;
    max-height: 32px;
}
}
@media (max-width: 600px){ 
    .socialButton{
        height: 64px;
        width: 64px;
    }
    }

.socialButton{
    height: 64px;
    width: 64px;
}

@media (max-width: 400px){ 
.pButton{
    background-color: rgb(36, 15, 3);
    color: tan;
    font-size: small;
    max-height: 32px;
    max-width: 32px;
    border-radius: 10px;
}
}
@media (max-width: 600px){ 
.pButton{
    background-color: rgb(36, 15, 3);
    color: tan;
    height: 64px;
    width: 64px;
    border-radius: 10px;
}
}
.pButton{
    background-color: rgb(36, 15, 3);
    color: tan;
    height: 64px;
    width: 64px;
    border-radius: 10px;
}